body {
    background-color: #121212;
    font-family: 'PT Sans', sans-serif;
}

github-corner {
    z-index: 100;
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbo {
    color: #ffffff;
    background-color: rgba($color: #000000, $alpha: 0.9);
    border-radius: 15px;
    transition: 0.5s;
}

.jumbo:hover {
    background-color: #000000;
}

.btn-grad {
    font-size: 1.3rem;
    border-radius: 8px;
    margin-top: 2.5rem;
    color: $white;
    border: 2px $white solid;
    transition: 0.3s;
}

.btn-grad:hover {
    border-color: linear-gradient(to right, $primary,$secondary); 
    background-image: linear-gradient(to right, $primary,$secondary);
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $white;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $white;
}

.form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
}
/* reset input */
.form__field{
   &:required,&:invalid { box-shadow:none; }
}
